/** add css here if you would like to use css **/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.fadeIn {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 250ms;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeOut  {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-timing-function: ease-in;
	animation-duration: 250ms;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
		transform: translateY(0);
		height: 60px;
		}

	100% {
		opacity: 0;
		transform: translateY(-10px);
		height: 0;
		}
}