/** add css here if you would like to use css **/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.fadeIn {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 250ms;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 10px, 0);
				transform: translate3d(0, 10px, 0);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: none;
				transform: none;
	}
}

.fadeOut  {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-timing-function: ease-out;
	animation-duration: 250ms;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
		-webkit-transform: none;
				transform: none;
		}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -10px, 0);
				transform: translate3d(0, -10px, 0);
		}
}
